        <div class="footer">
          {{ icon('warning') | safe }} Atskaita: ši priemonė yra pagalbinė. Galutiniai klinikiniai
          sprendimai remiasi gydytojo vertinimu ir galiojančiomis gairėmis.
        </div>
