<nav id="mainNav">
  <a href="#activation" data-section="activation" class="tab active"
    ><span class="tab-icon">🚨</span>Aktyvacija</a
  >
  <a href="#arrival" data-section="arrival" class="tab"
    ><span class="tab-icon">🚑</span>Paciento atvykimas</a
  >
  <a href="#nihss" data-section="nihss" class="tab"
    ><span class="tab-icon">🧮</span>NIHSS</a
  >
  <a href="#thrombolysis" data-section="thrombolysis" class="tab"
    ><span class="tab-icon">🩸</span>Pasiruošimas trombolizei</a
  >
  <a href="#decision" data-section="decision" class="tab"
    ><span class="tab-icon">☑️</span>Sprendimas</a
  >
  <a href="#summarySec" data-section="summarySec" class="tab"
    ><span class="tab-icon">📄</span>Santrauka</a
  >
</nav>
