<nav id="mainNav" role="tablist">
  <a
    id="activation-tab"
    href="#activation"
    data-section="activation"
    class="tab btn active"
    role="tab"
    ><span class="tab-icon"><img src="icons/activation.svg" alt="" /></span>Aktyvacija</a
  >
  <a
    id="arrival-tab"
    href="#arrival"
    data-section="arrival"
    class="tab btn"
    role="tab"
    ><span class="tab-icon"><img src="icons/arrival.svg" alt="" /></span>Paciento atvykimas</a
  >
  <a
    id="nihss-tab"
    href="#nihss"
    data-section="nihss"
    class="tab btn"
    role="tab"
    ><span class="tab-icon"><img src="icons/nihss.svg" alt="" /></span>NIHSS</a
  >
  <a
    id="thrombolysis-tab"
    href="#thrombolysis"
    data-section="thrombolysis"
    class="tab btn"
    role="tab"
    ><span class="tab-icon"><img src="icons/thrombolysis.svg" alt="" /></span>Pasiruošimas trombolizei</a
  >
  <a
    id="decision-tab"
    href="#decision"
    data-section="decision"
    class="tab btn"
    role="tab"
    ><span class="tab-icon"><img src="icons/decision.svg" alt="" /></span>Sprendimas</a
  >
  <a
    id="summarySec-tab"
    href="#summarySec"
    data-section="summarySec"
    class="tab btn"
    role="tab"
    ><span class="tab-icon"><img src="icons/summary.svg" alt="" /></span>Santrauka</a
  >
</nav>
