        <section id="activation" class="card">
          <h2>Komandos aktyvacija</h2>
          <form>
            <fieldset>
              <legend>Paciento duomenys</legend>
              <div class="grid-2">
                <div>
                  <label for="a_personal">Asmens kodas</label>
                  <input id="a_personal" type="text" />
                </div>
                <div>
                  <label for="a_name">Vardas, Pavardė</label>
                  <input id="a_name" type="text" />
                </div>
                <div>
                  <label for="a_dob">Gimimo data</label>
                  <input id="a_dob" type="date" placeholder="YYYY-MM-DD" />
                  <div id="a_age_display" class="subtle"></div>
                  <input id="a_age" type="hidden" />
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend>Simptomai</legend>
              <div class="symptoms">
                <label class="pill"
                  ><input id="a_face" name="a_face" type="checkbox" />Veido
                  paralyžius</label
                >
                <label class="pill"
                  ><input id="a_arm" name="a_arm" type="checkbox" />Rankos
                  silpnumas</label
                >
                <label class="pill"
                  ><input id="a_speech" name="a_speech" type="checkbox" />Kalbos
                  sutrikimas</label
                >
                <label class="pill"
                  ><input id="a_balance" name="a_balance" type="checkbox" />Pusiausvyros
                  sutrikimas</label
                >
                <label class="pill"
                  ><input
                    id="a_conscious"
                    name="a_conscious"
                    type="checkbox"
                  />Sąmonės/kvėpavimo sutrikimas</label
                >
              </div>
            </fieldset>

            <fieldset>
              <legend>Vartojami vaistai</legend>
              <div class="grid-2">
                <label class="pill"
                  ><input id="a_warfarin" type="checkbox" />Varfarinas</label
                >
                <label class="pill"
                  ><input id="a_apixaban" type="checkbox" />Apiksabanas</label
                >
                <label class="pill"
                  ><input
                    id="a_rivaroxaban"
                    type="checkbox"
                  />Rivaroksabanas</label
                >
                <label class="pill"
                  ><input
                    id="a_dabigatran"
                    type="checkbox"
                  />Dabigatranas</label
                >
                <label class="pill"
                  ><input id="a_edoxaban" type="checkbox" />Edoksabanas</label
                >
                <label class="pill"
                  ><input id="a_unknown" type="checkbox" />Nežinoma</label
                >
              </div>
            </fieldset>

            <fieldset>
              <legend>Paskutinį kartą matytas sveikas</legend>
              <div class="grid-3">
                <label class="pill"
                  ><input type="radio" name="a_lkw" value="<4.5" /> &lt;4,5 val
                  (aktyvuoti insulto komandą)</label
                >
                <label class="pill"
                  ><input type="radio" name="a_lkw" value="4.5-24" /> &gt;4,5
                  val bet &lt;24 val (informuoti SPS gyd.)</label
                >
                <label class="pill"
                  ><input type="radio" name="a_lkw" value="unknown" />
                  Nežinoma</label
                >
              </div>
            </fieldset>

            <fieldset>
              <legend>Parametrai</legend>
              <div class="grid-2">
                <div>
                  <label for="a_glucose">Gliukozė</label>
                  <input id="a_glucose" type="text" />
                </div>
                <div>
                  <label for="a_aks">AKS</label>
                  <input id="a_aks" type="text" />
                </div>
                <div>
                  <label for="a_hr">ŠSD</label>
                  <input id="a_hr" type="text" />
                </div>
                <div>
                  <label for="a_spo2">SpO₂</label>
                  <input id="a_spo2" type="text" />
                </div>
                <div>
                  <label for="a_temp">Temperatūra</label>
                  <input id="a_temp" type="text" />
                </div>
              </div>
            </fieldset>
          </form>
        </section>
