        <!-- KT -->
        <section
          id="imaging"
          class="card hidden"
          role="tabpanel"
          aria-labelledby="imaging-tab"
        >
          <h2>KT</h2>
          <form>
            <fieldset>
              <legend>KT rezultatas</legend>
              <label class="pill"
                ><input type="radio" name="ct_result" value="clear" /> Be kraujavimo</label
              >
              <label class="pill"
                ><input type="radio" name="ct_result" value="bleed" /> Kraujavimas</label
              >
            </fieldset>
            <fieldset>
              <legend>KTA rezultatas</legend>
              <label class="pill"
                ><input type="radio" name="kta_result" value="none" /> Be okliuzijos</label
              >
              <label class="pill"
                ><input type="radio" name="kta_result" value="lvo" /> Didelės arterijos okliuzija</label
              >
            </fieldset>
            <fieldset>
              <legend>Perfuzijos duomenys</legend>
              <div class="grid-2">
                <div>
                  <label for="perf_core">Infarkto branduolys (ml)</label>
                  <input id="perf_core" type="number" min="0" inputmode="numeric" />
                </div>
                <div>
                  <label for="perf_penumbra">Penumbra (ml)</label>
                  <input id="perf_penumbra" type="number" min="0" inputmode="numeric" />
                </div>
              </div>
              <div id="perfusion_warning" class="info-box mt-4"></div>
            </fieldset>
          </form>
        </section>
