        <!-- Pasiruošimas trombolizei -->
        <section
          id="thrombolysis"
          class="card hidden"
          role="tabpanel"
          aria-labelledby="thrombolysis-tab thrombolysis-heading"
        >
          <h2 id="thrombolysis-heading">Pasiruošimas trombolizei</h2>
          <form aria-labelledby="thrombolysis-heading">
            <fieldset>
              <legend>Pradiniai parametrai</legend>
              <div class="grid-4">
                <div>
                  <label for="p_weight">Svoris (kg)</label>
                  <div class="input-group">
                    <input
                      id="p_weight"
                      type="number"
                      min="1"
                      max="300"
                      step="0.1"
                    />
                    <span class="unit">kg</span>
                  </div>
                </div>
                <div>
                  <label for="p_bp_sys">Sistolinis AKS (mmHg)</label>
                  <input
                    id="p_bp_sys"
                    type="number"
                    min="30"
                    max="300"
                    step="1"
                    placeholder="mmHg"
                  />
                </div>
                <div>
                  <label for="p_bp_dia">Diastolinis AKS (mmHg)</label>
                  <input
                    id="p_bp_dia"
                    type="number"
                    min="10"
                    max="200"
                    step="1"
                    placeholder="mmHg"
                  />
                </div>
                <div>
                  <label for="p_inr">INR</label>
                  <div class="input-group flex-nowrap">
                    <input id="p_inr" type="number" step="0.1" />
                    <button
                      type="button"
                      class="btn ghost"
                      data-set="p_inr"
                      data-val="1"
                    >
                      1,0
                    </button>
                  </div>
                </div>
              </div>
            </fieldset>

            <fieldset class="mt-10">
              <legend data-i18n="patient_independent">
                Ar pacientas savarankiškas kasdienėje veikloje?
              </legend>
              <div class="grid-2">
                <label class="pill"
                  ><input
                    type="radio"
                    name="p_independent"
                    value="yes"
                  />
                  <span data-i18n="yes">Taip</span></label
                >
                <label class="pill"
                  ><input
                    type="radio"
                    name="p_independent"
                    value="no"
                  />
                  <span data-i18n="no">Ne</span></label
                >
              </div>
            </fieldset>
            <fieldset class="mt-10">
              <legend>AKS korekcija</legend>
              <ul id="bpMedList" role="list">
                {% for med in bpMeds %}
                <li>
                  <button type="button" class="btn bp-med" data-med="{{ med.name }}">
                    {{ med.name }}
                  </button>
                </li>
                {% endfor %}
              </ul>
              <div id="bpEntries" class="mt-10"></div>
            </fieldset>
            <fieldset class="mt-20">
              <legend>Trombolitiko skaičiuoklė</legend>
              <div>
                <label for="drug_type">Vaistas</label>
                <select id="drug_type">
                  <option value="tnk">
                    Tenekteplazė (TNK) – 0,25 mg/kg (max 25 mg), bolius
                  </option>
                  <option value="tpa">
                    Alteplazė (tPA) – 0,9 mg/kg (max 90 mg), 10% bolius + 90%
                    per 60 min
                  </option>
                </select>
              </div>
              <div class="grid-2 mt-10">
                <div>
                  <label for="dose_total">Bendra dozė (mg)</label>
                  <input id="dose_total" type="number" step="1" readonly />
                </div>
                <div>
                  <label for="dose_volume">Tūris (ml)</label>
                  <input id="dose_volume" type="number" step="1" readonly />
                </div>
              </div>
              <div id="tpaBreakdown" class="grid-2 mt-10 hidden">
                <div>
                  <label for="tpa_bolus">Bolius 10% (mg / ml)</label>
                  <input id="tpa_bolus" type="text" readonly />
                </div>
                <div>
                  <label for="tpa_infusion">Infuzija 90% per 60 min (mg / ml / ml/val)</label>
                  <input id="tpa_infusion" type="text" readonly />
                </div>
              </div>
            </fieldset>
            <div class="section-actions mt-10">
              <span class="mini"
                >Pastaba: klinikiniai sprendimai remiasi vietinėmis gairėmis. Ši
                skaičiuoklė – pagalbinė.</span
              >
            </div>
            <div class="section-actions mt-10">
              <button type="button" id="startThrombolysis" class="btn success">
                Trombolizės pradžia
              </button>
            </div>
            <div id="thrombolysisStartRow" class="mt-10 hidden">
              <label for="t_thrombolysis">Trombolizė pradėta</label>
              {{ timeInput('t_thrombolysis') }}
            </div>
          </form>
        </section>

