<!doctype html>
<html lang="lt" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Insulto komandos forma</title>
    <link rel="stylesheet" href="dist/style.css" />
  </head>
  <body>
    {% block content %}{% endblock %}
    <script type="module" src="dist/app.js"></script>
  </body>
</html>
